# Configurações do Django
DEBUG=True
SECRET_KEY=sua_chave_secreta_super_segura
ALLOWED_HOSTS=localhost,127.0.0.1

# Banco de Dados (PostgreSQL)
DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASSWORD=senha_do_banco
DB_HOST=localhost
DB_PORT=5432

# Configurações Adicionais
WHATSAPP_NUMERO=5511999999999

# API Orulo
ORULO_CLIENT_ID=seu_client_id_orulo
ORULO_CLIENT_SECRET=seu_client_secret_orulo
ORULO_BASE_URL=https://www.orulo.com.br/api/v2
